.mainJobDetailed {
  height: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.sideBar {
  height: 420px;
  background: #2A3047;
  border-radius: 8px;
}

.firstPartOfContacts {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 40px 28px 40px
}

.headlinesContactsContainer {
  margin-bottom: 15px;
}

.headlinesContacts {
  display: block;
  font-family: "Proxima Nova", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.625px;
  color: #E7EAF0;
}

.locationAndAddress {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  margin-bottom: 10px;
}

.iconLocation {
  height: 19px;
  width: 13px;
  opacity: 0.56;
}

.address {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5625px;
  color: #E8EBF3;
  padding-left: 4px;
}

.phonePost {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5625px;
  color: #E8EBF3;
}

.mapDescription {
  position: relative;
}

.iconLocationInMap {
  height: 38px;
  width: 30px;
  position: absolute;
  right: 72.64%;
  bottom: 30.28%;
  background: #D8D8D8;
}

.map {
  border-radius: 8px;
}

.descriptionBlock {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

.jobDetails {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.jDLable {
  font-family: "Proxima Nova", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.413333px;
  color: #3A4562;
}

.saveShare {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 350px;
}

.save {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.iconSave {
  height: 32px;
  width: 32px;
}

.saveText {
  width: 152px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5625px;
  color: #3A4562;
  font-stretch: normal;
}

.share {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.iconShare {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 7px;
  width: 32px;
}

.shareText {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5625px;
  color: #3A4562;
}

.upperButton {
  width: 127px;
  border-radius: 8px;
  padding: 18px 30px 18px 30px;
  background: #384564;
  font-family: "Proxima Nova", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 25px;
  margin-bottom: 25px;
}

.jobDescriptionsBlock {
  max-width: 793px;
}

.headOfDescription {
  display: flex;
  flex-direction: row;
}

.nameSalary {
  display: flex;
  flex-direction: inherit;
}

.bruttoNetto {
  display: flex;
  flex-direction: column;
}

.brutto {
  width: 213px;
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5625px;
  color: #3A4562;
  padding-left: 80px;
}

.salary {
  font-family: "Proxima Nova", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.625px;
  color: #3A4562;
  padding-left: 80px;
}

.jobName {
  font-family: "Proxima Nova", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.75px;
  color: #3A4562;
  margin-bottom: 25px;
}

.posted {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5625px;
  color: rgba(56, 65, 93, 0.355988);
  margin-bottom: 10px;
}

.jobDescription {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5625px;
  color: #3A4562;
}

.bottomButton {
  height: 52px;
  width: 127px;
  border-radius: 8px;
  background: #384564;
  font-family: "Proxima Nova", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 30px;
}

.additionalInfo {
  display: flex;
  flex-direction: column;
}

.additionalInfoH1 {
  font-family: "Proxima Nova", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.413333px;
  color: #3A4562;
  margin-bottom: 25px;
}

.additionalInfoH2 {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5625px;
  color: #3A4562;
  margin-bottom: 15px;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
}

.buttonEmployment {
  width: 222px;
  font-family: "Proxima Nova", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  line-height: 48px;
  letter-spacing: -0.457143px;
  color: #55699E;
  box-sizing: border-box;
  background: rgba(161, 177, 219, 0.317343);
  border: 1px solid rgba(85, 105, 158, 0.3);
  border-radius: 8px;
  margin-right: 10px;
  align-self: center;
}

.benefitsH2 {
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5625px;
  color: #3A4562;
  margin-top: 15px;
  margin-bottom: 15px;
}

.buttonBenefits {
  width: 220px;
  border-radius: 8px;
  box-sizing: border-box;
  background: rgba(255, 207, 0, 0.15);
  border: 1px solid #FFCF00;
  font-family: "Proxima Nova", serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.4px;
  color: #988B49;
  margin-right: 10px;
  line-height: 48px;
}

.attachedImages {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

.attachedImagesText {
  font-family: "Proxima Nova", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.413333px;
  color: #3A4562;
  margin-top: 25px;
}

.allImages {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.images {
  height: 100px;
  width: 209px;
  border-radius: 8px;
  margin-right: 15px;
  background-position: center;
}

.returnButton {
  height: 50px;
  width: 213px;
  background: #55699E;
  font-family: "Proxima Nova", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 25px;
}

@media screen and (max-width: 640px) {
  .mainJobDetailed {
    flex-direction: column;
    align-items: center;
    width: 414px;
  }
  .descriptionBlock {
    margin-left: -30px;
    padding-left: 0;
  }
  .jobDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .saveShare {
    padding-left: 0;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .nameSalary {
    display: flex;
    flex-direction: column;
  }
  .jobName {
    font-size: 19px;
    line-height: 25px;
    letter-spacing: -0.75px;
    color: #3A4562;
  }
  .bruttoNetto {
    padding-left: 140px;
  }
  .upperButton {
    width: 0;
    border-radius: 0;
    padding: 0;
    font-weight: 0;
    font-size: 0;
    line-height: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .saveText {
    width: 108px;
  }
  .buttonEmployment {
    width: 122px;
  }
  .buttonBenefits {
    width: 122px;
  }
}


